
<div class="bg-info container  h-100">
  <h1 class="text-center text-capitalize text-warning">Авторизация</h1>
  <div class="row h-100 justify-content-center align-items-center">
    <form>
     <table>

       <tr>
         <td><label for="loginField" class="text-dark">Логин</label></td>
         <td><input id="loginField" type="text" name="login"></td>
       </tr>
       <tr>
         <td><label for="passwordField" class="text-dark">Пароль</label></td>
         <td><input id="passwordField" type="password" name="password"></td>
       </tr>
       <tr><td></td></tr>
       <tr>
         <td colspan="2" style="text-align: center"><button class="btn btn-success">Войти</button></td>
       </tr>
     </table>
    </form>
  </div>
</div>
