<nav class="navbar navbar-expand-lg navbar-dark bg-info">
  <a class="navbar-brand" href="http://localhost:4200/registration">Charging service</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="btn btn-info btn-nav pack" href="#">Main page<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="btn btn-info btn-nav pack" href="http://localhost:4200/wallet">Wallet</a>
      </li>
      <li class="nav-item active">
        <a class="btn btn-info btn-nav pack " href="http://localhost:4200/subscriptions">Subscriptions</a>
      </li>
      <li class="nav-item active">
        <a class="btn btn-info btn-nav pack" href="http://localhost:4200/users">Users</a>
      </li>
      <li class="nav-item active">
        <a class="btn btn-info btn-nav pack" href="http://localhost:4200/product/new">New product</a>
      </li>
    </ul>

      <a class=" nav-link btn btn-info" href="http://localhost:4200/login">Sign in</a>

      <a class=" nav-link btn btn-info" href="http://localhost:4200/registration">Sign up</a>

  </div>
</nav>

